{% extends 'base.html.twig' %}

{% block body %}

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media(min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
		.p-xl {
  		padding: 40px !important;
		}
	</style>


	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="https://image.freepik.com/vecteurs-libre/composition-isometrique-pour-fixation-fuites-chaudiere_1284-17770.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">Un problème ?
				</br>
				Nous sommes là 👍</h1>
			<p class="lead">Une
				<strong>panne de chauffage</strong>
				au début de l'hiver peut gâcher votre vie quotidienne... Mais pas avec
				<strong>Allo Blombier
				</strong>
				! Spécialisé en chauffage,
				<strong>nous pouvons intervenir pour tout type de pannes.</strong>
				Chauffe-eau, chauffage, électrique ou à gaz, nous sommes là pour vous !</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href="/prestation" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Nos Prestations</a>
				<a href="/contact" type="button" class="btn btn-outline-secondary btn-lg px-4">Nous Contacter</a>
			</div>
		</div>
	</div>
</div>


<div class="container p-xl">
	<div class="row">
		<div class="col">
			<div class="card border-light text-center" style="width: 18rem;">
				<div class="iconbox iconbox__style-02">
					<img src="https://img.icons8.com/flat_round/128/000000/star--v1.png">
					<div>
						<div class="card-body">
							<h5 class="card-title">Excellente Réputation</h5>
							<p class="card-text">Nos chauffagistes sont sélectionnés pour leur
								<strong>sérieux</strong>
								et leur
								<strong>professionnalisme</strong>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card border-light text-center" style="width: 18rem;">
				<div class="iconbox iconbox__style-02">
					<img src="https://img.icons8.com/flat_round/128/000000/phone-message--v2.png">
					<div>
						<div class="card-body">
							<h5 class="card-title">A votre écoute</h5>
							<p class="card-text">Nous adaptons nos interventions à votre environnement.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card border-light text-center" style="width: 18rem;">
				<div class="iconbox iconbox__style-02">
					<img src="https://cdn2.iconfinder.com/data/icons/business-271/135/38-128.png">
					<div>
						<div class="card-body">
							<h5 class="card-title">Sur rendez-vous</h5>
							<p class="card-text">Nous estimons au mieux le temps nécessaire à chaque intervention.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card border-light text-center" style="width: 18rem;">
				<div class="iconbox iconbox__style-02">
					<img src="https://img.icons8.com/cute-clipart/128/000000/timer.png">
					<div>
						<div class="card-body">
							<h5 class="card-title">En urgence</h5>
							<p class="card-text">Une urgence ? Précisez le nous pour accélérer votre intervention !</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container p-xl">
	<div class="card mb-3 border-light">
		<div class="row g-0">
			<div class="col-md-6">
				<img src="https://www.raquin-duchon.com/wp-content/uploads/photo-plombier.jpg" class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-6">
				<div class="card-body">
					<h1 class="card-title mb-4">Spécialiste du chauffage</h1>
					<p class="card-text lead">
						<strong>Allo Blombier</strong>
						travaille avec les
						<strong>chauffagistes</strong>
						les plus
						<strong>sérieux</strong>
						et
						<strong>consciencieux</strong>
						de votre région !<br/><br/>
						Que ce soit pour l’<strong>
							installation</strong>, le
						<strong>dépannage</strong>
						ou l’
						<strong>entretien</strong>
						de votre chaudière, chauffe-eau ou chauffage, nous saurons répondre à votre demande !</p>
					<div class="text-center">
						<a href="/prestation" type="button" class="btn btn-primary">Voir Nos Offres</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container p-xl">
	<div class="row">
		<div class="col">
			<div class="card border-light text-center" style="width: 18rem;">
				<div class="iconbox iconbox__style-02">
					🚧
					<div>
						<div class="card-body">
							<h5 class="card-title">DÉPANNAGE DE CHAUDIÈRE À GAZ</h5>
							<p class="card-text lead">Panne de chauffage ou eau chaude
								<br/>
								Pièces non incluses<br/>
								Main d’œuvre</p>
							<a href="/prestation" class="btn btn-outline-primary">Voir les Tarifs</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card border-light text-center" style="width: 18rem;">
				<div class="iconbox iconbox__style-02">
					🚧
					<div>
						<div class="card-body">
							<h5 class="card-title">MAINTENANCE DE CHAUDIÈRE À GAZ</h5>
							<p class="card-text lead">Entretien annuel<br/>
								Pièces non incluses<br/>
								Main d’œuvre<br/>
								Déplacement</p>
							<a href="/prestation" class="btn btn-outline-primary">Voir les Tarifs</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card border-light text-center" style="width: 18rem;">
				<div class="iconbox iconbox__style-02">
					🚧
					<div>
						<div class="card-body">
							<h5 class="card-title">CHAUFFE BAIN À GAZ</h5>
							<p class="card-text lead">Chauffe eau gaz<br/>
								Pièces incluses<br/>
								Mise en route<br/>
								Main d’œuvre incluse</p>
							<a href="/prestation" class="btn btn-outline-primary">Voir les Tarifs</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card border-light text-center" style="width: 18rem;">
				<div class="iconbox iconbox__style-02">
					🚧
					<div>
						<div class="card-body">
							<h5 class="card-title">INSTALLATION DE CHAUDIÈRE À GAZ</h5>
							<p class="card-text lead">Chaudière à gaz économique<br/>
								Pièces incluses<br/>
								Main d’œuvre incluse</p>
							<a href="/prestation" class="btn btn-outline-primary">Voir les Tarifs</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<div class="container p-xl">
	<div class="card mb-3 border-light">
		<div class="row g-0">
			<div class="col-md-6">
				<div class="card-body">
					<h1 class="card-title mb-4">Spécialiste du chauffage</h1>
					<p class="card-text lead">
						Les  <strong>travaux de chauffagerie</strong> n'ont aucun secret pour nous. <strong>Installation d'un chauffe-eau électrique</strong> ou <strong>entretien d'une chaudière</strong>, nous avons l'habitude de faire divers interventions, dont voici un petit panel :<br/><br/>
						- Entretien de chaudière à gaz, au charbon, aux multicombustible ou au fioul.<br/>
						- Installation de chauffe-eau électrique<br/>
						- Entretien de chaudière collective</p>
					<div class="text-center">
						<a href="/prestation" type="button" class="btn btn-primary">Voir Nos Offres</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<img src="https://storage.googleapis.com/assets-monsite-medias/monsitemoncommerce.com-la-plomberie-longonienne/2020/11/3a47bf1a-istock-5170613592.jpg" class="img-fluid rounded-end" alt="...">
			</div>
		</div>
	</div>
</div>{% endblock %}
